<div *ngIf="inProgress" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-spinner [diameter]="50">
    </mat-spinner>
</div>

<form *ngIf="!inProgress" [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="login()" fxLayout="column"
    fxLayoutAlign="center center" fxLayoutGap="10px">
    <h2>Login</h2>

    <mat-form-field>
        <input matInput type="text" placeholder="User Name" formControlName="username">
        <mat-error *ngIf="hasError('username', 'required')">User Name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" placeholder="Password" formControlName="password">
        <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
</form>