<div class="standard-page">
    <p>Being organized brings the value of productiveness to life. To stay organized some planning should be done
        beforehand. As for me I like an idea of putting stickers on dashboard. You can write whatever you want and just
        delete it when it is completed.</p>
    <p>But you can’t take sticker notes with you easily, you must take pictures. So, I tried to make a small website for
        creating stickers on board with syncing, so you can easily see your dashboard wherever you are. </p>

    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px" *ngIf="isAuthenticated === false">
        <app-register></app-register>
        <app-login></app-login>
    </div>

    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px" *ngIf="isAuthenticated">
        <button mat-raised-button color="primary" (click)="goToDashboard()">Go to My Dashboard</button>
    </div>
</div>