<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-spinner [diameter]="50">
    </mat-spinner>
</div>

<div *ngIf="!isLoading" fxLayout="column" fxLayoutGap="10px">
    <div class="dashboard" #dashboard [style.background-image]="'url(' + backgroundUrl + ')'">
        <app-sticker *ngFor="let sticker of stickers; trackBy: stickerTrackBy" [item]="sticker" (edit)="onEdit()"
            (changeColor)="onChangeColor()" (delete)="onDelete()" [class.selected]="selectedStickerId === sticker.id"
            [style.top]="sticker.y + 'px'" [style.left]="sticker.x + 'px'"
            [isSelected]="selectedStickerId === sticker.id" style="position: absolute;"
            [attr.id]="'sticker-item-' + sticker.id" (mousedown)="mousedown($event, sticker.id);onSelect(sticker.id);"
            (mousemove)="mousemove($event)" (mouseup)="mouseup($event)">
        </app-sticker>
    </div>
</div>