<p>Being organized brings the value of productiveness to life. To stay organized some planning should be done
    beforehand. As for me I like an idea of putting stickers on dashboard. You can write whatever you want and just
    delete it when it is completed.</p>
<p>But you can’t take sticker notes with you easily, you must take pictures. So, I tried to make a small website for
    creating stickers on board with syncing, so you can easily see your dashboard wherever you are. </p>
<p>If you have any issues or tips you can create a ticket at GitHub page <a
        href="https://github.com/drweb86/dashboard">https://github.com/drweb86/dashboard</a>.</p>