.sticker {
  text-align: center;
  min-width: 220px;
  border: 3px dotted transparent;
  border-radius: 3px;
  -webkit-box-shadow: 4px 5px 18px 3px rgba(0, 0, 0, 0.76);
  box-shadow: 4px 5px 18px 3px rgba(0, 0, 0, 0.76);
}

.selected {
  border: 3px dashed #1c6ea4;
  border-radius: 3px;
}

.toolbox {
  background: #edf4fa;
  color: #536975;
  margin-top: -4px;
  margin-left: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: solid 1px #f7f7f7;
  border-radius: 2px;
}

button:hover {
  background: #cfd8e0;
}

.sticker-note {
  padding-left: 5px;
  padding-right: 5px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
