<ng-container *ngIf="item !== undefined">
    <div class="sticker noselect" [style.background]="item.htmlColor"
        [style.borderColor]="isSelected ? undefined: item.htmlColor" [class.selected]="isSelected">
        <p class="sticker-note">{{item.text}}</p>
    </div>

    <div class="toolbox" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" *ngIf="isSelected">
        <button mat-stroked-button color="accent" (click)="onHelp()">
            <mat-icon matTooltip="Click on Note and drag it with mouse to move it.">info</mat-icon>
        </button>

        <button mat-stroked-button color="accent" (click)="onEdit()">
            <mat-icon matTooltip="Edit">create</mat-icon>
        </button>

        <button mat-stroked-button color="warn" (click)="onDelete()">
            <mat-icon matTooltip="Delete">delete</mat-icon>
        </button>
    </div>
</ng-container>