.sticker {
  text-align: center;
  border: 1px solid #d3d3d3;
}

.sticker-header {
  padding: 10px;
  cursor: move;
  background-color: #2196f3;
  color: #fff;
}

.selected {
  border: 4px solid #c02b2b;
}
