<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <span class="menu-spacer"></span>
        <div>
            <ng-container *ngFor="let menuItem of menuItems">
                <app-menu-item [item]="menuItem" *ngIf="!menuItem.right"></app-menu-item>
            </ng-container>
        </div>

        <span fxFlex>
        </span>

        <ng-container *ngFor="let menuItem of menuItems">
            <app-menu-item [item]="menuItem" *ngIf="menuItem.right"></app-menu-item>
        </ng-container>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <ng-container *ngFor="let menuItem of menuItems">
                <a mat-list-item *ngIf="menuItem.visible" [routerLink]="menuItem.url"
                    (click)="menuItem.action ? menuItem.action(): true">
                    {{menuItem.title}} </a>
            </ng-container>

            <a mat-list-item (click)="sidenav.toggle()" [routerLink]="" mat-list-item>Close</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="page">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>